[Unit]
Description=Run PixelWise auto-deploy

[Timer]
OnBootSec=1min
OnUnitActiveSec=3min
Unit=pixelwise-deploy.service

[Install]
WantedBy=timers.target
